.page-grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
}

.page-navbar{
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: sticky;
  top: 0;
  background-color: #181818;
  height: auto;
  padding-top: 15x;
  padding-bottom: 15x;
}

.btn-contact{
  display: grid;
  grid-column: 2;
  float: left;
  margin: auto;
  margin-left: 10%;
  padding: 7px 45px 7px 45px;
  font-weight: bold;
  border: none;
}

.btn-clout{
  display: grid;
  grid-column: 4;
  float: right;
  margin: auto;
  margin-right: 10%;
  padding: 7px 45px 7px 45px;
  font-weight: bold;
  border: none;
}

.hr-gold{
  border: 1px solid goldenrod;
  width: 1700px;

}

body {
  background-image: url('../Images/smokeeee.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header-text{
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}

.welcome-header{
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-weight: lighter;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 15x;
}

.page-navbar img{
  max-width: 50px;
}

.transparent-background{
	background: rgba(73, 73, 73, 0.73);
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
}

.transparent-background:nth-child(1){
	background: rgba(112, 250, 100, 0.73);
}

.transparent-background:nth-child(5){
	background: rgba(121, 71, 212, 0.73);
}

.welcome-trending-message{
  grid-row: 2;
  display: grid;
}

.page-products-grid{
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: auto;
  padding-top: 15x;
  padding-bottom: 15x;
}



.product-card-one-grid{
  grid-row: 1;
  display: grid;
}

.product-description{
  grid-row: 1;
  grid-column: 2;
  display: grid;
  text-align: center;
}

.product-card-two-grid{
  grid-row: 2;
  display: grid;
}

.product-card-three-grid{
  grid-row: 3;
  display: grid;
}

.page-footer-grid{
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #181818;
  text-align: center;
  height: auto;
  padding-top: 15x;
  padding-bottom: 15x;
  border-top: 1px solid goldenrod;
  bottom: 0
}
